[submodule "common/proto/cosmos-sdk"]
	path = common/proto/cosmos-sdk
	url = https://github.com/KYVENetwork/cosmos-sdk.git
[submodule "common/proto/chain"]
	path = common/proto/chain
	url = git@github.com:KYVENetwork/chain-beta.git
